.profile__profile-info-item {
  display: flex;
  list-style-type: none;
}

@media screen and (max-width: 800px) {
  .profile__profile-info-item:not(:last-child) {
    margin-top: 26px;
    justify-content: center;
  }
}

@media screen and (max-width: 800px) {
  .profile__profile-info-item {
    justify-content: center;
  }
}